<div class="card">
  {% load static %}
  <img class="card-img-top survey-about-img" src="{% static 'img/about.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">About This App</h5>
    <p class="card-text">This is a survey application created using
      <a href="https://docs.djangoproject.com/en/3.1/intro/tutorial01/" target="_blank">django framework</a>.
      In this app, users can participate in surveys created by the administrator.
      Each survey consists of a short questionnaire. At the same time fun.
      Each participation in the survey is recorded and the admin can track the number of participation for each survey
      and will be notified of the top survey with highest participation.
      Also, can see the stats for each question in a survey with bar chart visualizations rendered using
      <a href="https://www.chartjs.org/" target="_blank">Chartjs</a>.</p>
  </div>
</div>